*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#logo img{
    height: 70px;
}
header #navone{
    width: 100%;
    height: 70px;
    box-shadow: rgba(27, 193, 79, 0.05) 0px 4px 16px, rgba(24, 159, 26, 0.05) 0px 8px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0px;
    
   
    background-color:rgb(219, 221, 225);
    opacity: 1;
    z-index: 1000;
}
#logo{
    display: flex;
    
    align-items: center;
    width: 33%;
    justify-content: space-around;

}
#logo select{
    width: 40%;
    border-radius:10px;
    padding: 5px;
    outline: none;
}
#search{
    display: flex;
    align-items: center;
   
    border-radius:10px ;
    width: 33%;
    height: 40px;
}
#search input{
    width: 90%;
    height: 100%;
    border-radius:10px ;
    border: none;
    padding: 15px;
    outline: none;
}
.down{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
#searchbtn{
    height: 100%;
    width: 10%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    position: relative;
    right: 50px;
    background: none;
}


#navbartwo{
    width: 100%;
    background-color:blue;
    list-style: none;
    padding: 20px 0px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.7px;
    color: #282c3f;
    font-family: var(--primaryFont);
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
} 
#navbartwo a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    height: 100%;
   margin:2px;
} 
 #navbartwo a:hover {
    border-bottom: 3px solid #e9e1e2;
   
}


#navbartwo #studio{
    position: relative;
}
 


 #right_icon{
    width: 30%;
    display: flex;
    font-size:16px;
    font-weight: 500;
    text-transform: capitalize;
}
#right_icon > div{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px
}
#right_icon i{
    font-size: 1.3rem;
}


/* PROFILE DROPDOWN MENU */
#reggDropdown{
    position: relative;
}
#reggDropdown > #drop{
    height: 0;
    padding-right: 1rem;
    padding-bottom: 1.3rem;
    position: absolute;
    top: 100%;
    right: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    cursor: default;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 500ms;
    padding: 0;
}
#reggDropdown a{
    width: 100%;
    text-decoration: none;
    color: unset;
    text-align: center;
    border-radius: 1rem;
    padding: 0.5rem;
    transition: all 500ms;
    
}
    #reggDropdown:hover #drop{
        visibility: visible;
        width: 12rem;
        height: 9rem;
    }
    #drop button{
        border: none;
        width:100%;
        border-radius: 1rem;
        padding: 2px;
        font-size: 20px;
    }
    #drop button:hover{
        background-color: blue; 
        color:white;
    }
    #reggDropdown > #drop .dropList{
        font-size: 0;
    }
    #reggDropdown:hover > #drop .dropList{
        font-size: 1.3rem;
    }

    #reggDropdown a:hover{
        background-color: blue; 
        color:white;
    }


#toggle{
   display: none;
}

#footer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#one{
    width: 50%;

}
.grey{
color: rgb(55, 53, 53);
word-spacing: 5px;
cursor: pointer;
}

.light{
    color: rgb(131, 122, 122);
}
.grey button{
    background-color: #fad348;
    border:1px solid magenta;
    padding: 10px;
    cursor: pointer;

    font-size: 17px;
}
.last{
    text-align: right;
    color: gray;
    margin-top: 35px;
}
#two{
    width: 35%;
    margin: auto;
    border-left: 1px solid black;
    padding: 40px;
}
#two1{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
   
}
#two1 p{
    color: rgb(77, 75, 75); 
    word-spacing: 10px;
cursor: pointer;
}
#two2 p{
    word-spacing: 10px;
    font-weight: bold;
}
#two2 p a{
    padding: 5px;
    font-size: 20px;
}



#showdata div img{
height: 150px;
width: 170px;

}
.box{
   display:flex;
  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    color:rgb(77, 75, 75);
    font-weight: bold;
    cursor: pointer;
}
.box div{
    padding: 10px;
}
#showdata button{
    width: 150px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin:0px 50px;
    font-weight: bold;
}
#showdata{
    margin:50px;
}

